@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Jost-500-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Jost-700-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/FiraSans-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/FiraSans-Medium.woff2) format('woff2');
  }
}
.children {
  animation: fadeInAnimation ease 500ms;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.alert-error {
  @apply rounded-lg;
  @apply bg-red900;
  @apply text-n100;
}

.alert-error > span, .alert-error > svg {
  @apply drop-shadow-text
}

.font-jost {
  font-family: 'Jost';
}
.font-fira {
  font-family: 'FiraSans';
}
.next-error-h1 {
  @apply text-n800;
}
h2 {
  @apply text-n800;
}
body {
  @apply text-n900;
  background: white;
  font-family: 'FiraSans';
  font-weight: 300;
  width: 100%!important
}
h1, h2, h3, .h1, .h1, .h3 {font-family: 'Jost';}
h1, .h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
}
h2, .h2 {
  
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
}
h3, .h3 {
  font-size: 22px;
  font-weight: 500;
}

.btn{
  @apply text-n800
} 

.btn-try{
  font-size: 22px;
  font-weight: 500; 
  @apply px-6; 
  @apply py-2;
  @apply rounded-full;
  @apply bg-n900; 
  @apply text-n100; 
  @apply transition;
  @apply ease-in-out;
  @apply inline-block;
}
.btn-try:hover {
  @apply scale-105;
}
.btn-try:active {
  @apply scale-100
}

.btn-dash {
  @apply btn;
  @apply bg-n100;
  @apply border;
  @apply border-n300;
  @apply pt-1;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 16px;
  height: 2.5rem;
  min-height: 2.5rem;
}
.btn-dash:hover {
  @apply bg-orange500;
}


.btn-error {
  @apply text-n100;
  text-shadow: 1px 1px 3px black!important
}
.btn-primary {
  @apply bg-purple500;
  @apply border-n800;
  @apply text-n100;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Jost';
}
.btn-primary:hover{
  @apply bg-purple900;
  @apply border-n800;
}

.input, .textarea {
  @apply border-n300;
  @apply caret-violet-600;
  @apply text-slate-950;
  @apply block
}
.input:focus, .textarea:focus {
  @apply outline-purple300
}
:invalid {
  @apply border-red500;
  @apply border-2
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
